
:root{
    --backgroundColor: #2f4f4fff;
    --foreground1: #4aad52ff;
    --foreground2: #231A1C;
    --textColorMain: #f1edeeff;
    --highlight: #D295BF;
}

h1, h2, h3, h4, h5, h6 {font-family:"Tektur"; color:var(--highlight)}

#text{
    font-family: "Tektur";
    color:var(--textColorMain)
}
#centeredHeader{
    text-align: center;
}
p{
    color: var(--textColorMain);
    font-family: "Tektur";
    padding: 2%;
}
body{
    background-color: var(--backgroundColor);
    padding: 2%;
}


#information{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#information div{
    margin: 5px auto;
    width: 100%;
}
#aboutMe{
    background-color: var(--foreground2);
    border-radius: 30px;
}
#twoCol{
    display: flex;
}

#twoCol div{
    width: 45%;
    float:left;
    padding: 2.5%;
}

#profileImg{
    max-width: 100%;
    max-height: 1000%;
    float:inherit;
    border: 15px solid var(--foreground2);
    border-radius: 30%;
}




